/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: arial, sans-serif;  
}


body {
  text-align: center;
}


#nav-container {
  height: 100px;
  width: 100%; 
  margin-top: 35px;
  text-align: right;
}


.nav-images {
  height: 50px;
  width: 50px; 
  max-width: 100%;
  vertical-align: middle;
}


.nav-btn {
  border: none;
}


#circular {
  border-radius: 50%;
}


#google-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  height: 300px ;
  width: 850px ;
}


.search-bar-container {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 40px; 
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent; 
}


#search-bar {
  width: 400px;
  height: 2px; 
  margin: 0 auto;
  position: center;
  padding: 14px;
  border-radius: 28px;
  align-items: center;
  margin-top: 4px;
  font-size: 14px;
  margin-left: 14px; 
  border: none; 
  outline: none;
  background: #f6f6f6;
}


.form-images {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}


#btn-container {
  margin-top: 20px;
  margin-bottom: 300px;
}


.btn-logo-links {
  height: 50px;
  width: 50px; 
  padding: 10px;
  margin: 2px;
  border-radius: 90%;
}


.btn-design {
  border: none;
}


.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  background: none; 
  border: none; 
  cursor: pointer; 
}
